<div id="wrapper">

  <!-- Main -->
  <div id="main">
    <div class="inner">
      <!-- Header -->
      <header id="header">
        <a href="index.html" class="logo"><strong>Software Uniguld</strong> by Students</a>
        <ul class="icons">
          <li><a href="https://github.com/mikk5829/Software-Uniguld" class="logo" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a></li>
          <li><a href="twitter.com" class="logo" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
          <li><a href="facebook.com" class="logo" target="_blank"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
        </ul>
      </header>
      <app-subject-detail [subject]="selectedSubject"></app-subject-detail>
    </div>
  </div>

  <!-- Sidebar -->
  <div id="sidebar" [ngClass]="showSidebar ? 'inactive' : ''">
    <div class="inner">

      <!-- Search -->
      <section id="search" class="alt">
        <form method="post" action="#">
          <input type="text" name="query" id="query" placeholder="Search">
        </form>
      </section>

      <!-- Menu -->
      <app-subjects (selectedSubjectEvent)="getSelectedSubject($event)"></app-subjects>

      <header class="major">
      </header>
      <!-- Footer -->
      <footer id="footer">
        <p class="copyright">Feel free to contribute on <a href="https://github.com/mikk5829/Software-Uniguld" target="_blank">GitHub <fa-icon [icon]="faGithub"></fa-icon></a>
          <br>
          Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a>.</p>
      </footer>

    </div>
    <a class="toggle" (click)="hideMenu()">Toggle</a>
  </div>

</div>
<router-outlet></router-outlet>
